langchain==0.3.7
langchain-community==0.3.7
langchain-chroma==0.1.4
langchain-groq==0.2.1
chromadb==0.5.20
sentence-transformers==3.3.1
pdfplumber==0.11.4
fastapi==0.115.5
uvicorn==0.32.1
streamlit==1.40.2
python-dotenv==1.0.1
pydantic==2.10.3
groq==0.13.0
torch==2.4.1
requests==2.32.3
python-multipart==0.0.12